.header 
    display: flex;
    padding: 26px;
    justify-content: space-between;
    align-items: center;

.logo__wrap 
    display: flex;
    align-items: center;

.change__lang 
    width: 91px;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Exo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 48px;
    margin-left: 25px;
    position: relative;
    cursor: pointer;

.change__lang::before 
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('../../img/icons/planet-earth 2.svg');
    left: 0;
    bottom: calc(50% - 10px);


.basket__wrap 
    position: relative;
    display: flex
    align-items: center
    height: 100%
    .basket__count
        background-color: #0B0C23
        width: 10px
        height: 20px
        position: absolute
        right: -4px
        top: 5px
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;
        
